$color-offblack: #363537;
$color-offwhite: whitesmoke;
$color-red: #ED254E;
$color-yellow: #F5B841;
$color-green: #2FBF71;
$color-blue: #1E2EDE;

$font-display: 'Bungee Shade',
sans-serif;
$font-script: 'Sofia',
sans-serif;
$font-base: 'Nunito Sans',
sans-serif;

$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 32px;
$spacing-lg: 64px;

$transition-default: 300ms ease-in;
